.credit-card__back {
	display: flex;
	flex-direction: column;
}
.credit-card__back-midle-info {
	display: flex;
}
.credit-card__back-top-logo {
	width: 47.793px;
	height: 27.811px;
	margin-top: 20px;
	margin-bottom: 29px;
	margin-left: 29px;
}
.credit-card__back-data,
.credit-card__back-CVV {
	width: 27px;
	height: 10px;
	margin-bottom: 12px;
	font-size: 12px;
	opacity: 0.5;
}
.credit-card__back-data {
	margin-right: 28px;
}
.credit-card__back-midle-info {
	margin-left: 29px;
	margin-bottom: 19px;
}
.credit-card__back-data-number,
.credit-card__back-CVV-number {
	font-size: 11px;
	line-height: 162.7%; /* 17.897px */
}
.credit-card__back-chip {
	margin-left: 29px;
}
