.credit-card__back-logo {
	top: 20px;
	left: 29.06px;
}
.credit-card__back-data {
	top: 77px;
	left: 29px;
	font-size: 12px;
	opacity: 0.5;
}
.credit-card__back-data-number {
	top: 99px;
	left: 29px;
	font-size: 11px;
	line-height: 162.7%; /* 17.897px */
}
.credit-card__back-CVV {
	top: 77px;
	left: 84px;
	font-size: 12px;
	opacity: 0.5;
}
.credit-card__back-CVV-number {
	top: 99px;
	left: 83px;
	font-size: 11px;
	line-height: 162.7%; /* 17.897px */
}
.credit-card__back-chip {
	top: 137px;
	left: 29px;
}
